	@media print {

		@page {
			size: landscape;
		}

		/*thead {display: table-header-group;}
		tbody {display: table-row-group;}
		tr {page-break-inside: avoid;}*/	


		body * {
			/*visibility: hidden;*/
		}
		
		#printEInvoice, #printEInvoice * {
			/*visibility: visible;*/			
		}
		
		#printEInvoice {
			/*position: absolute;*/
			/*left: 0;*/
			/*top: 0;*/
			/*zoom: 0.6;*/
			/*height:auto !important;*/
		}
	}


		/*thead {display: table-header-group;}
		tbody {display: table-row-group;}
		tr {page-break-inside: avoid;}*/	


		.cm-label {
			display: inline;
			padding: .2em .6em .3em;
			/*font-size: 75%;*/
			font-weight: 700;
			line-height: 1;
			/*color: #fff;*/
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
		}

		.cm-h-li-item{
			margin-top:1px;
			display: inline-block;
			background-color: lightgrey;
			padding: 1px;
			border-radius: 4px;
			font-size:10px;
		}


		.col-w-b30-1 {
			width: 20px;
			text-align: center;
		}

		.col-w-b30-2 {
			width: 40px;
		}

		.col-w-b30-3 {
			width: 60px;
		}

		.col-w-b30-4 {
			width: 80px;
		}

		.col-w-b30-5 {
			width: 100px;
		}

		.col-w-b30-6 {
			width: 120px;
		}

		.col-w-b30-7 {
			width: 140px;
		}

		.col-w-b30-8 {
			width: 160px;
		}

		.col-w-b30-9 {
			width: 180px;
		}

		.col-w-b30-10 {
			width: 200px;
		}

		.col-w-b30-11 {
			width: 220px;
		}

		.col-w-b30-12 {
			width: 240px;
		}

